.main-section {
  margin-top: 95px;
}
.main-section__title {
  color: $light-color;
  font-family: "Inter";
  font-size: 4.8rem;
  font-weight: 400;
  span {
    @include gradient(90, #fcb045 40%, #fd1d1d 100%);
    font-weight: 900;
  }
  margin-top: 0;
}
.main-section__desc {
  font-family: "Montserrat";
  color: $light-color;
  width: 275px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-section__subtitle {
  color: $light-color;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 500;
  text-align: right;
  line-height: normal;
  span {
    @include gradient(90, #fcb045 36.99%, #fd1d1d 100%);
    letter-spacing: 0.9px;
    font-weight: 700;
    text-transform: uppercase;
  }
  margin-top: 0;
}
.main-section__second-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main-section__list {
  max-width: 400px;
  margin-top: 40px;
}
.main-section__list-item {
  text-align: right;
  max-width: 165px;
}
.main-section__list-title {
  font-family: Inter;
  color: $light-color;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.main-section__list-text {
  color: $light-color;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
}

.main-section__btn {
  padding: 20px 35px;
  background-color: $btn-color;
  color: $light-color;
  cursor: pointer;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 60px;
}
.main-section__mobile-list {
  display: none;
}
@media (max-width: 320px) {
  .main-section__title {
    font-size: 3.6rem;
  }
  .main-section__subtitle {
    text-align: left;
  }
  .main-section__btn {
    display: none;
  }
  .main-section__list {
    display: none;
  }
  .main-section__mobile-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    span {
      display: inline-block;
      margin-bottom: 14px;
      margin-right: 10px;
      &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 2px;
        margin-right: 5px;
        margin-bottom: 3px;
        background-image: url("images/icons/Line.svg");
      }
    }
    li {
      color: $light-color;
      font-family: "Montserrat";
      font-size: 1.3rem;
      font-weight: 400;
      letter-spacing: 0.65px;
      text-transform: uppercase;
    }
  }
  .main-section__second-block {
    align-items: start;
  }
}
