.sotials__telegram {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/telegram.svg");
}
.sotials__viber {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/viber.svg");
}
.sotials__whatsapp {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/whatsapp.svg");
}
